@import "../variables.scss";


// SECTION BACKGROUND : BLOBS --------------------------------------------------

.blob-container {
    display:flex;
    width:100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    opacity: 0.3;
    position :absolute;
    animation : 3s ease-in fade;
    animation-iteration-count: 1;
}

@for $i from 1 through 8 {
    .blob:nth-child(#{$i}) {
        transform: rotate(random(360)+ deg);
        filter: blur(random(5) + 5 +vw);
        aspect-ratio: 1/random(1)+0.5;
        width: random(40) + 10 + vw;
        translate: random(500) - 250 + px  + random(500) - 250 + px;
        background: linear-gradient(random(180)+deg, $accent, $primary 70%);
        animation: random(60) + 20 + s infinite alternate blob_movement;

        @keyframes blob_movement {
            @for $j from 1 through 10 {
                #{($j * 10%)} {
                    transform: translateX(random(40) - 20 + vw)+ translateY(random(40) - 20 + vw)+ rotate(360deg);
                }
            }
        } 
    }
}

.blob {
    border-radius: 100%;
    z-index: 1;
}

@keyframes fade {
    from {
        opacity :1;
    }
}

// TITLE AND TEXTS -------------------------------------------------------------

@keyframes appear {
    0% {
        opacity :0;
        transform: translateY(60px);
        scale: 90%;
    }

    60% {
        z-index: 0;
        opacity :0;
        transform: translateY(100px);
    }
}

@keyframes pulse {
    5% {
        scale: 105%;
        opacity: 1;
    }
    10% {
        scale: 100%;
        opacity: 0.7;
    }
}

.welcome {
    z-index: 0;
    margin : 4% auto;
    font-size: 7vw;
    width:min-content;
    font-weight: 400;
    animation-name: appear, pulse;
    animation-duration: 4s, 5s;
    animation-timing-function: ease-in, ease ;
    animation-iteration-count: 1, infinite;
    animation-delay: 0ms, 5s;
    opacity: 0.7;
}

@keyframes pulsed {
    50% {
        scale: 103%;
        opacity: 1;
    }
    from {
        scale: 100%;
        opacity: 0.7;
    }
}

.welcome:hover {
    animation : 2s infinite pulsed;
}