<div class="blob-container">
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
  <div class="blob"></div>
</div>
<h1 class="welcome">Aezurly</h1>
<!-- <h2>Alice Vergeau</h2> -->
<div>
  <h3>My name is <span class="name">Alice Vergeau</span>, I am a student in software enginerring at <span
      class="poly">Polytechnique Montréal</span> since winter 2023.</h3>
</div>
<app-first></app-first>
<router-outlet></router-outlet>