/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lovers+Quarrel&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: $background;
    color : $text;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x:hidden;
}

// scroll bar :

/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0000;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, $accent 20%, transparent);
    border-radius: 10px;
}