/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
// importing core styling file
@import "./src/assets/fontawesome-free-6.5.1-web/scss/fontawesome.scss";

// our project needs Solid + Brands
@import "./src/assets/fontawesome-free-6.5.1-web/scss/solid.scss";
@import "./src/assets/fontawesome-free-6.5.1-web/scss/brands.scss";


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lovers+Quarrel&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #c1cdd8;
    color : $text;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-margin: 0;
}

app-root > * {
    scroll-snap-type: y mandatory; 
}

app-root > * > * {
    scroll-snap-align: center;
}

main {
    scroll-snap-align: center;
}

// scroll bar :

/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0000;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, $accent 20%, transparent);
    border-radius: 10px;
}